*{
	margin:0;
	padding:0;
}
body{
	background-color:#0C1021;
}
/*--------Main Container--------*/
.container{
	margin:0 auto;
	max-width:1024px;
	width:100%;
	min-height:600px;
	height:auto;
	margin-top:10px;
	background-color:#87CEEB;
	box-sizing:border-box;
}
.container h2{
	background-color: #00BCD4;
	text-align: center;
	width: 100%;
	height: 36px;
    padding:10px 0; 
	font-family:'ElMessiri-Bold', sans-serif;
	font-size:32px;
    color: #03104a;
}
/*--------Main Container End--------*/


/*--------SearchBar Start--------*/
.searchBar{
	margin-top:10px;
	width:100%;
	min-height:250px;
	height:auto;
	text-align:center;
}
.searchBar input[type=text]{
	width: 75%;
    height: 44px;
    position: relative;
    border: 2px solid #CCE8FF;
    padding: 0 10px;
    text-align: center;
    font-family: NunitoSans-Regular;
    font-size: 26px;
    color: #2E3436;
    box-sizing: border-box;
}
.searchBar img{
    position: absolute;
    width: 40px;
    height: 38px;
    margin-left: -42px;
    margin-top: 3px;
    background: aqua;
	cursor:pointer;
}
#txtsuggestion{
	margin: 0 auto;
	width: 74.8%;
	height: 200px;
	background-color: #F0F0F0;
	display: none;
	border: 1px solid #1967D2;
	border-top: none;
	z-index:999;
}
/*--------SearchBar End--------*/

/*--------Text Section Start--------*/

.aboutTxt{
	margin-top: 10px;
}
.aboutTxt > h2{
	width: 100%;
    min-height: 30px;
    height: auto;
    background-color: #4056A1;
    color: #F0F0F0;
    text-transform: uppercase;
    font-size: 25px;
    padding: 4px 0;
    margin-bottom: 2px;
}

.aboutTxt p{
    text-align: justify;
    font-size: 16px;
    font-family: Tahoma;
    color: #f0f0f0;
    background-color: #05396B;
    padding: 5px;
    text-transform: capitalize;
    border-block-end: 1px solid #f0f0f0;
}
#spc{
	text-align:center;
}
.aboutTxt .fas{
	font-size:16px;
	color: #F64C71; 
}
/*--------Text Section End--------*/
















